body {
    background-image: url(../img/bg.jpg)
}

.container {
    margin: 0 auto;
    width: 8.0625rem;
    perspective: 25rem;
}

#box {
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    height: 100%
}

#box div {
    position: absolute;
    width: 8.0625rem;
    height: 73.125rem;
}

#btn{
    position: absolute;
    top:10rem;
    left:0rem;
    z-index:99999;
    font-size: 2rem;
}